<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu >
    <menu id="root-menu" label="Applications">
        <menu id="Editors" label="Editors" icon="/usr/share/icons/Papirus-Dark/48x48/categories/applications-development-translation.svg">
            <item label="Visual Studio Code" icon="/usr/share/pixmaps/visual-studio-code.png">
                <action name="Execute">
                    <command>/usr/bin/code</command>
                </action>
            </item>
            <item label="Visual Studio Code - URL Handler" icon="/usr/share/pixmaps/visual-studio-code.png">
                <action name="Execute">
                    <command>/usr/bin/code --open-url</command>
                </action>
            </item>
        </menu> <!-- Editors -->
        <menu id="Games" label="Games" icon="/usr/share/icons/Papirus-Dark/48x48/categories/applications-games.svg">
            <item label="Heroic Games Launcher" icon="/usr/share/icons/Papirus-Dark/48x48/categories/heroic.svg">
                <action name="Execute">
                    <command>/opt/Heroic/heroic</command>
                </action>
            </item>
        </menu> <!-- Games -->
        <menu id="Graphics" label="Graphics" icon="/usr/share/icons/Papirus-Dark/48x48/categories/applications-graphics.svg">
            <item label="Viewnior" icon="/usr/share/icons/Papirus-Dark/48x48/categories/viewnior.svg">
                <action name="Execute">
                    <command>viewnior</command>
                </action>
            </item>
        </menu> <!-- Graphics -->
        <menu id="Internet" label="Internet" icon="/usr/share/icons/Papirus-Dark/48x48/categories/applications-internet.svg">
            <item label="Avahi SSH Server Browser" icon="/usr/share/icons/Papirus-Dark/48x48/devices/network-wired.svg">
                <action name="Execute">
                    <command>/usr/bin/bssh</command>
                </action>
            </item>
            <item label="Avahi VNC Server Browser" icon="/usr/share/icons/Papirus-Dark/48x48/devices/network-wired.svg">
                <action name="Execute">
                    <command>/usr/bin/bvnc</command>
                </action>
            </item>
            <item label="Brave" icon="/usr/share/icons/Papirus-Dark/48x48/categories/brave-desktop.svg">
                <action name="Execute">
                    <command>brave</command>
                </action>
            </item>
            <item label="Firefox" icon="/usr/share/icons/Papirus-Dark/48x48/categories/firefox.svg">
                <action name="Execute">
                    <command>/usr/lib/firefox/firefox</command>
                </action>
            </item>
            <item label="Free Download Manager" icon="/usr/share/icons/Papirus-Dark/48x48/categories/freedownloadmanager.svg">
                <action name="Execute">
                    <command>/usr/bin/fdm</command>
                </action>
            </item>
            <item label="LocalSend" icon="/usr/share/pixmaps/localsend.png">
                <action name="Execute">
                    <command>localsend</command>
                </action>
            </item>
            <item label="Mail Reader" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.mailreader.svg">
                <action name="Execute">
                    <command>exo-open --launch MailReader</command>
                </action>
            </item>
            <item label="QBittorrent" icon="/usr/share/icons/Papirus-Dark/48x48/categories/qbittorrent.svg">
                <action name="Execute">
                    <command>qbittorrent</command>
                </action>
            </item>
            <item label="WasIstLos" icon="/usr/share/icons/hicolor/32x32/apps/com.github.xeco23.WasIstLos.png">
                <action name="Execute">
                    <command>wasistlos</command>
                </action>
            </item>
            <item label="WasIstLos" icon="/usr/share/icons/Papirus-Dark/48x48/categories/whatsie.svg">
                <action name="Execute">
                    <command>wasistlos</command>
                </action>
            </item>
            <item label="Web Browser" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.webbrowser.svg">
                <action name="Execute">
                    <command>exo-open --launch WebBrowser</command>
                </action>
            </item>
        </menu> <!-- Internet -->
        <menu id="Multimedia" label="Multimedia" icon="/usr/share/icons/Papirus-Dark/48x48/categories/applications-multimedia.svg">
            <item label="Mpv Media Player" icon="/usr/share/icons/Papirus-Dark/48x48/categories/mpv.svg">
                <action name="Execute">
                    <command>mpv --player-operation-mode=pseudo-gui --</command>
                </action>
            </item>
            <item label="Qt V4L2 Test Utility" icon="/usr/share/icons/Papirus-Dark/48x48/categories/qv4l2.svg">
                <action name="Execute">
                    <command>qv4l2</command>
                </action>
            </item>
            <item label="Qt V4L2 Video Capture Utility" icon="/usr/share/icons/Papirus-Dark/48x48/categories/qvidcap.svg">
                <action name="Execute">
                    <command>qvidcap</command>
                </action>
            </item>
            <item label="Volume Control" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.pulseaudio.pavucontrol.svg">
                <action name="Execute">
                    <command>pavucontrol</command>
                </action>
            </item>
        </menu> <!-- Multimedia -->
        <menu id="Other" label="Other" icon="/usr/share/icons/Papirus-Dark/48x48/categories/applications-other.svg">
            <item label="PolicyKit Authentication Agent">
                <action name="Execute">
                    <command>/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1</command>
                </action>
            </item>
        </menu> <!-- Other -->
        <menu id="Settings" label="Settings" icon="/usr/share/icons/Papirus-Dark/48x48/categories/mate-preferences-desktop-display.svg">
            <item label="Accessibility" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.settings.accessibility.svg">
                <action name="Execute">
                    <command>xfce4-accessibility-settings</command>
                </action>
            </item>
            <item label="Advanced Network Configuration" icon="/usr/share/icons/Papirus-Dark/48x48/categories/preferences-system-network.svg">
                <action name="Execute">
                    <command>nm-connection-editor</command>
                </action>
            </item>
            <item label="Appearance" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.settings.appearance.svg">
                <action name="Execute">
                    <command>xfce4-appearance-settings</command>
                </action>
            </item>
            <item label="Bluetooth Adapters" icon="/usr/share/icons/Papirus-Dark/48x48/devices/blueman-device.svg">
                <action name="Execute">
                    <command>blueman-adapters</command>
                </action>
            </item>
            <item label="Bluetooth Manager" icon="/usr/share/icons/Papirus-Dark/48x48/categories/blueman.svg">
                <action name="Execute">
                    <command>blueman-manager</command>
                </action>
            </item>
            <item label="Color Profiles" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.settings.color.svg">
                <action name="Execute">
                    <command>xfce4-color-settings</command>
                </action>
            </item>
            <item label="Default Applications" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.settings.default-applications.svg">
                <action name="Execute">
                    <command>xfce4-mime-settings</command>
                </action>
            </item>
            <item label="Desktop" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.xfdesktop.svg">
                <action name="Execute">
                    <command>xfdesktop-settings</command>
                </action>
            </item>
            <item label="Display" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.settings.display.svg">
                <action name="Execute">
                    <command>xfce4-display-settings</command>
                </action>
            </item>
            <item label="GTK Settings" icon="/usr/share/pixmaps/nwg-look.svg">
                <action name="Execute">
                    <command>nwg-look</command>
                </action>
            </item>
            <item label="Keyboard" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.settings.keyboard.svg">
                <action name="Execute">
                    <command>xfce4-keyboard-settings</command>
                </action>
            </item>
            <item label="LightDM GTK Greeter Settings" icon="/usr/share/icons/Papirus-Dark/48x48/categories/lightdm-gtk-greeter-settings.svg">
                <action name="Execute">
                    <command>lightdm-gtk-greeter-settings-pkexec</command>
                </action>
            </item>
            <item label="Mouse And Touchpad" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.settings.mouse.svg">
                <action name="Execute">
                    <command>xfce4-mouse-settings</command>
                </action>
            </item>
            <item label="Notifications" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.notification.svg">
                <action name="Execute">
                    <command>xfce4-notifyd-config</command>
                </action>
            </item>
            <item label="NVIDIA X Server Settings" icon="/usr/share/pixmaps/nvidia-settings.png">
                <action name="Execute">
                    <command>/usr/bin/nvidia-settings</command>
                </action>
            </item>
            <item label="Panel" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.panel.svg">
                <action name="Execute">
                    <command>xfce4-panel --preferences</command>
                </action>
            </item>
            <item label="Removable Drives And Media" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.volman.svg">
                <action name="Execute">
                    <command>thunar-volman-settings</command>
                </action>
            </item>
            <item label="Session And Startup" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.session.svg">
                <action name="Execute">
                    <command>xfce4-session-settings</command>
                </action>
            </item>
            <item label="Settings Editor" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.settings.editor.svg">
                <action name="Execute">
                    <command>xfce4-settings-editor</command>
                </action>
            </item>
            <item label="Settings Manager" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.settings.manager.svg">
                <action name="Execute">
                    <command>xfce4-settings-manager</command>
                </action>
            </item>
            <item label="Thunar Preferences" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.thunar.svg">
                <action name="Execute">
                    <command>thunar-settings</command>
                </action>
            </item>
            <item label="Volume Control" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.pulseaudio.pavucontrol.svg">
                <action name="Execute">
                    <command>pavucontrol</command>
                </action>
            </item>
            <item label="Window Manager" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.xfwm4.svg">
                <action name="Execute">
                    <command>xfwm4-settings</command>
                </action>
            </item>
            <item label="Window Manager Tweaks" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.xfwm4-tweaks.svg">
                <action name="Execute">
                    <command>xfwm4-tweaks-settings</command>
                </action>
            </item>
            <item label="Workspaces" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.workspaces.svg">
                <action name="Execute">
                    <command>xfwm4-workspace-settings</command>
                </action>
            </item>
            <item label="Xfce Screensaver" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.ScreenSaver.svg">
                <action name="Execute">
                    <command>xfce4-screensaver-preferences</command>
                </action>
            </item>
            <item label="Xfce Terminal Settings" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.terminal-settings.svg">
                <action name="Execute">
                    <command>xfce4-terminal --preferences</command>
                </action>
            </item>
        </menu> <!-- Settings -->
        <menu id="System" label="System" icon="/usr/share/icons/Papirus-Dark/48x48/categories/applications-system.svg">
            <item label="Avahi Zeroconf Browser" icon="/usr/share/icons/Papirus-Dark/48x48/devices/network-wired.svg">
                <action name="Execute">
                    <command>/usr/bin/avahi-discover</command>
                </action>
            </item>
            <item label="Btrfs Assistant" icon="/usr/share/icons/Papirus-Dark/48x48/categories/btrfs-assistant.svg">
                <action name="Execute">
                    <command>btrfs-assistant-launcher</command>
                </action>
            </item>
            <item label="CachyOS Hello" icon="/usr/share/icons/hicolor/scalable/apps/org.cachyos.hello.svg">
                <action name="Execute">
                    <command>/usr/bin/cachyos-hello</command>
                </action>
            </item>
            <item label="CachyOS Kernel Manager" icon="/usr/share/icons/hicolor/48x48/apps/org.cachyos.KernelManager.png">
                <action name="Execute">
                    <command>cachyos-kernel-manager</command>
                </action>
            </item>
            <item label="CachyOS Package Installer" icon="/usr/share/icons/hicolor/scalable/apps/cachyos-pi.png">
                <action name="Execute">
                    <command>/usr/bin/cachyos-pi</command>
                </action>
            </item>
            <item label="GParted" icon="/usr/share/icons/Papirus-Dark/48x48/categories/gparted.svg">
                <action name="Execute">
                    <command>/usr/bin/gparted</command>
                </action>
            </item>
            <item label="Keyboard Layout" icon="/usr/share/icons/Papirus-Dark/48x48/categories/preferences-desktop-keyboard.svg">
                <action name="Execute">
                    <command>gkbd-keyboard-display</command>
                </action>
            </item>
            <item label="Kitty" icon="/usr/share/pixmaps/kitty.png">
                <action name="Execute">
                    <command>kitty</command>
                </action>
            </item>
            <item label="Kitty URL Launcher" icon="/usr/share/pixmaps/kitty.png">
                <action name="Execute">
                    <command>kitty +open</command>
                </action>
            </item>
            <item label="LightDM GTK Greeter Settings" icon="/usr/share/icons/Papirus-Dark/48x48/categories/lightdm-gtk-greeter-settings.svg">
                <action name="Execute">
                    <command>lightdm-gtk-greeter-settings-pkexec</command>
                </action>
            </item>
            <item label="Log Out" icon="/usr/share/icons/Papirus-Dark/48x48/categories/xfsm-logout.svg">
                <action name="Execute">
                    <command>xfce4-session-logout</command>
                </action>
            </item>
            <item label="Octopi" icon="/usr/share/icons/Papirus-Dark/48x48/categories/octopi.svg">
                <action name="Execute">
                    <command>/usr/bin/octopi</command>
                </action>
            </item>
            <item label="Octopi CacheCleaner" icon="/usr/share/icons/Papirus-Dark/48x48/categories/octopi.svg">
                <action name="Execute">
                    <command>/usr/bin/octopi-cachecleaner</command>
                </action>
            </item>
            <item label="Octopi Notifier" icon="/usr/share/icons/Papirus-Dark/48x48/categories/octopi.svg">
                <action name="Execute">
                    <command>/usr/bin/octopi-notifier</command>
                </action>
            </item>
            <item label="Octopi Repository Editor" icon="/usr/share/icons/Papirus-Dark/48x48/categories/octopi.svg">
                <action name="Execute">
                    <command>/usr/bin/octopi-repoeditor</command>
                </action>
            </item>
            <item label="SchedExt GUI Manager" icon="/usr/share/icons/hicolor/scalable/apps/org.cachyos.scx-manager.png">
                <action name="Execute">
                    <command>scx-manager</command>
                </action>
            </item>
            <item label="Stacer" icon="/usr/share/icons/Papirus-Dark/48x48/categories/stacer.svg">
                <action name="Execute">
                    <command>stacer</command>
                </action>
            </item>
            <item label="Thunar File Manager" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.thunar.svg">
                <action name="Execute">
                    <command>thunar</command>
                </action>
            </item>
            <item label="Xfce Terminal" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.terminal.svg">
                <action name="Execute">
                    <command>xfce4-terminal</command>
                </action>
            </item>
            <item label="Xwayland">
                <action name="Execute">
                    <command>/usr/bin/Xwayland -decorate -displayfd 1</command>
                </action>
            </item>
        </menu> <!-- System -->
        <menu id="Utilities" label="Utilities" icon="/usr/share/icons/Papirus-Dark/48x48/categories/applications-utilities.svg">
            <item label="About Xfce" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.about.svg">
                <action name="Execute">
                    <command>xfce4-about</command>
                </action>
            </item>
            <item label="Application Finder" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.appfinder.svg">
                <action name="Execute">
                    <command>xfce4-appfinder</command>
                </action>
            </item>
            <item label="Bulk Rename" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.thunar.svg">
                <action name="Execute">
                    <command>thunar --bulk-rename</command>
                </action>
            </item>
            <item label="Disks" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.gnome.DiskUtility.svg">
                <action name="Execute">
                    <command>gnome-disks</command>
                </action>
            </item>
            <item label="File Manager" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.filemanager.svg">
                <action name="Execute">
                    <command>exo-open --launch FileManager</command>
                </action>
            </item>
            <item label="Galculator" icon="/usr/share/pixmaps/galculator.xpm">
                <action name="Execute">
                    <command>galculator</command>
                </action>
            </item>
            <item label="Gammastep" icon="/usr/share/icons/Papirus-Dark/48x48/categories/gammastep.svg">
                <action name="Execute">
                    <command>foot gammastep</command>
                </action>
            </item>
            <item label="Gammastep Indicator" icon="/usr/share/icons/Papirus-Dark/48x48/categories/gammastep.svg">
                <action name="Execute">
                    <command>gammastep-indicator</command>
                </action>
            </item>
            <item label="LightDM GTK Greeter Settings" icon="/usr/share/icons/Papirus-Dark/48x48/categories/lightdm-gtk-greeter-settings.svg">
                <action name="Execute">
                    <command>lightdm-gtk-greeter-settings-pkexec</command>
                </action>
            </item>
            <item label="LocalSend" icon="/usr/share/pixmaps/localsend.png">
                <action name="Execute">
                    <command>localsend</command>
                </action>
            </item>
            <item label="Passwords And Keys" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.gnome.seahorse.Application.svg">
                <action name="Execute">
                    <command>seahorse</command>
                </action>
            </item>
            <item label="Pinentry" icon="/usr/share/pixmaps/pinentry.png">
                <action name="Execute">
                    <command>/usr/bin/pinentry-qt</command>
                </action>
            </item>
            <item label="Pinentry" icon="/usr/share/pixmaps/pinentry.png">
                <action name="Execute">
                    <command>/usr/bin/pinentry-qt5</command>
                </action>
            </item>
            <item label="Run Program..." icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.appfinder.svg">
                <action name="Execute">
                    <command>xfce4-appfinder --collapsed</command>
                </action>
            </item>
            <item label="Screenshot" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.screenshooter.svg">
                <action name="Execute">
                    <command>xfce4-screenshooter</command>
                </action>
            </item>
            <item label="Stacer" icon="/usr/share/icons/Papirus-Dark/48x48/categories/stacer.svg">
                <action name="Execute">
                    <command>stacer</command>
                </action>
            </item>
            <item label="Terminal Emulator" icon="/usr/share/icons/Papirus-Dark/48x48/categories/org.xfce.terminalemulator.svg">
                <action name="Execute">
                    <command>exo-open --launch TerminalEmulator</command>
                </action>
            </item>
            <item label="Text Editor" icon="/usr/share/icons/Papirus-Dark/48x48/categories/accessories-text-editor.svg">
                <action name="Execute">
                    <command>xed</command>
                </action>
            </item>
            <item label="Visual Studio Code - URL Handler" icon="/usr/share/pixmaps/visual-studio-code.png">
                <action name="Execute">
                    <command>/usr/bin/code --open-url</command>
                </action>
            </item>
            <item label="Winetricks" icon="/usr/share/icons/Papirus-Dark/48x48/categories/winetricks.svg">
                <action name="Execute">
                    <command>winetricks --gui</command>
                </action>
            </item>
            <item label="Xarchiver" icon="/usr/share/icons/Papirus-Dark/48x48/categories/xarchiver.svg">
                <action name="Execute">
                    <command>xarchiver</command>
                </action>
            </item>
            <item label="Xgps" icon="/usr/share/gpsd/icons/gpsd-logo.png">
                <action name="Execute">
                    <command>xgps</command>
                </action>
            </item>
            <item label="Xgpsspeed" icon="/usr/share/gpsd/icons/gpsd-logo.png">
                <action name="Execute">
                    <command>xgpsspeed</command>
                </action>
            </item>
        </menu> <!-- Utilities -->
        <separator />
        <item label="Terminal" icon="/usr/share/icons/Papirus/48x48/apps/terminal.svg">
            <action name="Execute">
                <command>foot</command>
            </action>
        </item>
        <item label="Reconfigure" icon="/usr/share/icons/Papirus/48x48/apps/system-reboot.svg">
            <action name="Reconfigure">
            </action>
        </item>
        <item label="Proton VPN" icon="/usr/share/icons/Papirus/48x48/apps/proton-vpn-logo.svg">
            <action name="Execute">
                <command>protonvpn-app</command>
            </action>
        </item>
        <item label="Background" icon="/usr/share/icons/Papirus/48x48/apps/preferences-desktop-wallpaper.svg">
            <action name="Execute">
                <command>sh -c &apos;/home/rocklin/.config/rofi/wallselect/wallselect.sh&apos;</command>
            </action>
        </item>
        <item label="Exit" icon="/usr/share/icons/Papirus/48x48/apps/system-log-out.svg">
            <action name="Exit">
            </action>
        </item>
    </menu>
</openbox_menu>
