/* waybar matugen colors */

@define-color bar_bg #0e1514;
@define-color bar_fg #dde4e2;
@define-color module_bg #1a2120; 
@define-color module_fg @bar_fg;
@define-color hover_bg #80d5d1;
@define-color hover_fg #003735;
@define-color border_color #889392;
@define-color launcher @hover_bg;
@define-color special #324862;
@define-color special_fg @module_fg;
@define-color power #ffb4ab;