/* --- Import Colors--*/
@import "colors/wallpaper.css";

window,
window.dialog,
messagedialog,
.dialog {
    background-color: @window_bg_color;
    color: @window_fg_color;
}

window.popup,
window.osd,
.popup {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

headerbar,
.titlebar,
window.dialog headerbar,
messagedialog .titlebar {
    background-color: @headerbar_bg_color;
    background-image: none;
    color: @headerbar_fg_color;
    box-shadow: none;
    border-bottom: 1px solid transparent; 
}

headerbar:backdrop,
.titlebar:backdrop {
    background-color: @window_bg_color;
    background-image: none;
    box-shadow: none;
}

menu,
.menu,
.context-menu,
popover.background {
    background-color: @popover_bg_color;
    color: @popover_fg_color;
    border-radius: 10px;
    border: 1px solid @accent_selected_glass;
}

menuitem,
menu item {
    border-radius: 6px;
    margin-bottom: 2px;
    padding: 4px 8px;
    border: none;
    box-shadow: none;
}

menuitem:last-child,
menu item:last-child {
    margin-bottom: 0;
}

menuitem:hover,
menu item:hover {
    background-color: @accent_hover_glass;
    color: @window_fg_color;
}

.sidebar row:hover,
listbox row:hover,
flowbox flowboxchild:hover,
treeview.view:hover, 
iconview:hover {
    background-color: @accent_hover_glass;
}

.sidebar row:selected,
listbox row:selected,
flowbox flowboxchild:selected,
treeview.view:selected,
iconview:selected {
    background-color: @accent_selected_glass;
    color: @window_fg_color;
}

button.flat:hover,
modelbutton:hover,
popover.menu button:hover {
    background-color: @accent_hover_glass;
}

button:checked,
button:active {
    background-color: @accent_selected_glass;
    color: @window_fg_color;
}

headerbar button.titlebutton:hover {
    background-color: alpha(@window_fg_color, 0.1); 
    box-shadow: none;
}

messagedialog button,
window.dialog button,
.dialog button,
.message-dialog button {
    background-color: @button_bg;
    color: @window_fg_color;
    border: none;
    box-shadow: none;
    background-image: none;
}

messagedialog button:hover,
window.dialog button:hover,
.dialog button:hover,
.message-dialog button:hover {
    background-color: @accent_bg_color; 
    color: @accent_fg_color; 
}

messagedialog button:active,
window.dialog button:active {
    background-color: @accent_selected_glass;
}