@define-color accent_color #7fbbb3;
@define-color accent_fg_color #323d43;
@define-color accent_bg_color #7fbbb3;
@define-color window_bg_color #323d43;
@define-color window_fg_color #dad1be;
@define-color view_bg_color @window_bg_color;
@define-color view_fg_color @window_fg_color;
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color card_bg_color @window_bg_color;
@define-color card_fg_color @window_fg_color;
@define-color popover_bg_color @window_bg_color;
@define-color popover_fg_color @window_fg_color;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color button_bg #3c474d;
@define-color accent_hover_glass alpha(@accent_bg_color, 0.15);
@define-color accent_selected_glass alpha(@accent_bg_color, 0.30);
@define-color theme_selected_bg_color @accent_hover_glass;