/* Layout: Pill */

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", "Iosevka Term", Inter, Adwaita,  Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @bar_bg;
    color: @bar_fg;
}

tooltip {
    background-color: @bar_bg;
    border: 1px solid @border_color;
    border-radius: 12px;
}
tooltip label {
    color: @bar_fg;
    text-shadow: none;
}

/* --- Modules: Base --- */
#clock,
#network,
#bluetooth,
#custom-updates,
#ext-workspaces,
#backlight,
#pulseaudio,
#battery,
#custom-clip,
#custom-snip,
#power-profiles-daemon,
#custom-theme-switcher,
#tray,
#idle_inhibitor,
#custom-notification,
#custom-power,
#custom-launcher {
    background: @module_bg;
    color: @module_fg;
    padding: 0px 13px; 
    margin: 4px 2px 4px 2px;
    border-radius: 99px;
    transition: all 0.3s ease;
}

/* --- Modules: Strip --- */
#custom-chrome,
#custom-terminal,
#custom-code,
#custom-music,
#custom-thunar {
    background: @module_bg;
    color: @module_fg;
    padding: 0px 13px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 0;
    transition: all 0.3s ease;
}

#custom-chrome {
    margin-left: 4px;
    border-radius: 99px 0 0 99px;
}

#custom-thunar {
    margin-right: 4px;
    border-radius: 0 99px 99px 0;
}

#custom-launcher {
    color: @launcher;
}
#custom-power {
    color: @power;
}
#tray {
    background: @special;
}
#keyboard-state {
    background: transparent;
}

#keyboard-state label.locked {
    background: @special;
    color: @module_fg; 
    padding: 0px 12px;
    margin: 4px 2px 4px 2px;	
    border-radius: 99px;
}
#network.disconnected,
#network.disabled {
    color: @power; 
}

/* --- Hover Effects --- */
#clock:hover,
#network:hover,
#backlight:hover,
#pulseaudio:hover,
#bluetooth:hover,
#custom-clip:hover,
#custom-snip:hover,
#custom-updates:hover,
#custom-theme-switcher:hover,
#idle_inhibitor:hover,
#ext-workspaces:hover,
#battery:hover,
#power-profiles-daemon:hover,
#custom-notification:hover,
#custom-music:hover,
#custom-thunar:hover {
    background: @hover_bg;
    color: @hover_fg;
}

#custom-todo:hover,
#custom-countdown:hover {
    background: @special;
    color: @special_fg;
}



#custom-power:hover {
    background: @power;
    color: @bar_bg;
}

#ext-workspaces button {
    color: @module_fg;
}

/* active workspace in @power color */
#ext-workspaces button.active {
    color: @power;
}
