/* --- matugen gtk4-colors.css --- */

@define-color accent_color {{colors.primary_fixed_dim.default.hex}};
@define-color accent_fg_color {{colors.on_primary_fixed.default.hex}};
@define-color accent_bg_color {{colors.primary_fixed_dim.default.hex}};
@define-color window_bg_color {{colors.surface.default.hex}};
@define-color window_fg_color {{colors.on_surface.default.hex}};
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color popover_bg_color @window_bg_color;
@define-color popover_fg_color @window_fg_color;
@define-color view_bg_color @window_bg_color;
@define-color view_fg_color @window_fg_color;
@define-color card_bg_color @window_bg_color;
@define-color card_fg_color @window_fg_color;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_border_color @border;
@define-color button {{colors.surface_container_highest.default.hex}};
@define-color border {{colors.primary_fixed_dim.default.hex}}80;
@define-color accent_hover_glass color-mix(in srgb, @accent_bg_color 15%, transparent);
@define-color accent_selected_glass color-mix(in srgb, @accent_bg_color 30%, transparent);