/* waybar matugen colors */

@define-color bar_bg {{colors.surface.default.hex}};
@define-color bar_fg {{colors.on_surface.default.hex}};
@define-color module_bg {{colors.surface_container.default.hex}}; 
@define-color module_fg @bar_fg;
@define-color hover_bg {{colors.primary.default.hex}};
@define-color hover_fg {{colors.on_primary.default.hex}};
@define-color border_color {{colors.outline.default.hex}};
@define-color launcher @hover_bg;
@define-color special {{colors.tertiary_container.default.hex}};
@define-color special_fg @module_fg;
@define-color power {{colors.error.default.hex}};